{% extends 'base.html' %}
{% block title %}
小黑人玩樂族群統計圖
{% endblock %}
{% block titlemessage %}
{% endblock %}
{% block content %}
<button><a href="/temperture15/">小琉球</a></button>
<button><a href="/temperture16/">蘭嶼</a></button>
<button><a href="/temperture17/">綠島</a></button>
<button><a href="/temperture18/">金門</a></button>
<button><a href="/temperture19/">馬祖</a></button>
<center>
<table width=800>
  <tr><td>
<canvas id="myPieChart" width="400" height="200"></canvas>
</tr></td>
</table>
</center>
<script>
var ctx = document.getElementById('myPieChart').getContext('2d');
var myPieChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
        '獨木舟','SUP','浮潛','潛水'
        ],        
        datasets: [{
            label: '綠島玩樂設施人數統計圖',
            data:[
            95342,81312,381512,421514
        ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
  本網頁被瀏覽了{{ hit_count }}次
{% endblock %}